.about {
  height: 552px;
  margin-bottom: 74px;
}

.about__container {
  position: relative;
}

.about__img {
  float: left;
}

.about__content {
  position: absolute;
  width: 785px;
  height: 455px;
  background: url('../../img/mountains.png');
  right: 65px;
  top: 97px;
  padding: 70px 81px 66px;
  border-radius: 5px;
}

.title--dark {
  color: #000;
}

.about__text {
  margin-top: 37px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #060606;
  max-width: 502px;
}

.about__button {
  margin-top: 43px;
}