.title--fire {
  margin-bottom: 52px;
}

.offers {
  margin-bottom: 125px;
}

.title--fire:after {
  content: "";
  background: url("/icon/fire.svg") no-repeat;
  width: 24px;
  height: 30px;
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.offers__item {
  min-height: 449px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  width: 362px;
  margin-right: 23px;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 144px;
  margin-bottom: 33px;
}

.offers__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-left: 20px;
  margin-bottom: 20px;
}

.offers__feature {
  display: inline-block;
  padding-left: 27px;
  padding-right: 100px;
  position: relative;
  margin-bottom: 19px;
}

.offer__feature-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
  position: absolute;
  bottom: 2px;
  left: 65px;
}

.offers__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
  padding-left: 21px;
  margin-bottom: 24px;
}

.offers__button {
  width: 135px;
  height: 55px;
  margin-left: 22px;
}

.offers__button--light {
  width: 135px;
  height: 55px;
  margin-left: 22px;
  border: 1px solid #F5170E;
  background: #fff;
  color: #F5170E;
}
